<!DOCTYPE HTML>
<html lang="en" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{fragments/fragments :: header}"></th:block>
</head>

<body>


<div th:replace="~{fragments/fragments :: menu}"></div>

<main class="container" role="main">
    <p>Signed in as: <span sec:authentication="name"></span></p>
    <h2>Attributes</h2>
    <dl th:each="userAttribute : ${userAttributes}">
        <dt th:text="${userAttribute.key}"></dt>
        <dd th:text="${userAttribute.value}"></dd>
    </dl>
    <button class="btn btn-warning btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#saml-response"
            aria-expanded="false" aria-controls="collapseExample">
        Show SAML Response
    </button>
    <div class="collapse" id="saml-response">
        <pre><code th:text="${samlResponse}"></code></pre>
    </div>

</main>

<th:block th:insert="~{fragments/fragments :: footer}"></th:block>

</body>
</html>

